/* Headers */
h1{
    position: right;
    font-family: Monaco;
    font-weight: bold;
    font-size: 40px;
    color: #1265d2;
    border-radius: 0px;
}
h2{
    position: center;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 25px;
    color: #000000;
    border-radius: 0px;
}
/* Text */
.textBox{
    padding-right: 15%;
    padding-left: 15%;
    width: 70%;
    position: center;
    background-color: crimson;


}
p{
    position: center;
    font-family: Helvetica;
    font-size: 15px;
    padding-left: ;
    padding-right: auto;
}

/* Pictures */
.frontImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
/* Logo */
